package grpcserver

import "google.golang.org/grpc"

type chatServer struct {
	UnimplementedChatServiceServer // optional, if you define one
}

func (s *chatServer) StreamMessages(req *ChatMessage, stream ChatService_StreamMessagesServer) error {
	// Example: echo three messages back to the client.
	for i := 0; i < 3; i++ {
		if err := stream.Send(&ChatMessage{
			From: "server",
			Text: req.Text,
		}); err != nil {
			return err
		}
	}
	return nil
}

var _ ChatServiceServer = (*chatServer)(nil)

var _ChatService_serviceDesc = grpc.ServiceDesc{
	ServiceName: "example.ChatService",
	HandlerType: (*ChatServiceServer)(nil),
	Streams: []grpc.StreamDesc{
		{
			StreamName:    "StreamMessages",
			Handler:       _ChatService_StreamMessages_Handler,
			ServerStreams: true,
		},
	},
}

func _ChatService_StreamMessages_Handler(srv interface{}, stream grpc.ServerStream) error {
	m := new(ChatMessage)
	if err := stream.RecvMsg(m); err != nil {
		return err
	}
	return srv.(ChatServiceServer).StreamMessages(m, &chatServiceStreamMessagesServer{stream})
}

type chatServiceStreamMessagesServer struct {
	grpc.ServerStream
}

func (x *chatServiceStreamMessagesServer) Send(m *ChatMessage) error {
	return x.ServerStream.SendMsg(m)
}
